* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
}

.clearfix {
    *zoom: 1;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.headerContainer {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

header {
    position: sticky;
    position: fixed;
    z-index: 1000;
    color: white;
    width: 100%;
    top: 0;
    height: auto;
}

.scroll{
     z-index: 1;
    color: black !important;
    background-color: #fff;
     z-index: 6;
    width: 100%;
    top: 0;
    height: auto;
      box-shadow: 0 6px 14px rgb(0,0,0);
}

.header-left,
.header-right {
    position: relative;
    color: white;
    float: left;
}

main p {
    font-size: 25px;
    margin: 0 15px;
    text-align: center;
    line-height: 50px;
}

.header-left {
    width: 30%;
}

.header-right label {
    position: absolute;
    top: -3.7em;
    right: 0;
    cursor: pointer;
}

.header-right span {
    position: relative;
    width: 2.2em;
    height: 2.2em;
    margin-top: 8px;
    background: rgb(245,245,249);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-right span:before,
.header-right span:after {
    content: "";
    position: absolute;
    width: 2em;
    height: 0.5em;
    top: 4px;
    left: 0;
    background: black;
}

.header-right span:after {
    top: 14px;
}

.header-right {
    width: 70%;
    text-align: right;
}

#open {
    display: none;
}

.logo {
    width: 150px;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
}

nav > a {
    position: relative;
    display: inline-block;
     font-size: 16px;
    line-height: 40px;
    padding: 0 2em;
    padding-top: 12.5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white;
    font-weight: 700;
    font-style: bold;
   font-family: 'Poppins', sans-serif;
}

nav > a:hover {
    color: black;
    text-decoration: none;
    background-color: yellow;
    transition: all 160ms ease-in;
}

.hidden-desktop {
    display: none;
}

section {
    width: 100%;
    height: auto;
}

.section-left,
.section-right {
    float: left;
}

.section-left {
    width: 70%;
    padding: 3em 0;
}

.section-right {
    width: 30%;
}

.section-title,
.section-tagline {
    color: white;
    font-weight: 300;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.section-title {
    font-size: 4em;
    margin-bottom: 0.3em;
    text-shadow: 0 3px 0px black, 0 4px 0px rgba(150, 150, 150, 0.5);
}

.section-tagline {
    font-size: 1em;
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .box {
        width: 49%;
        margin-bottom: 5%;
    }
        .responsive-image {
    height: auto;
}
    ul li:nth-child(3) .box {
        clear: both;
    }
    ul li:nth-child(2n) .box {
        margin-right: 0;
        clear: right;
    }
}

/* Small monitor */

@media (max-width: 979px) {
    nav > a {
        padding: 0 1.5em;
    }
    .section-left,
    .section-right {
        width: 100%;
    }
    .section-left {
        text-align: center;
    }
    .section-right {
        padding: 0 0 2em;
    }
    .section-title {
        font-size: 4em;
        margin-bottom: 0.2em;
    }
    .section-tagline {
        font-size: 1.3em;
    }
    .learn-more {
        margin: 0 auto;
    }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .headerContainer {
        width: 95%;
    }
    nav > a {
        padding: 0 2em;
    }
    h1 {
        padding: 0.5em 0;
    }
    .header-left,
    .header-right {
        width: 100%;
        text-align: center;
    }
    .section-left,
    .section-right {
        width: 100%;
    }
    .section-left {
        text-align: center;
        padding: 2em 0;
    }
    .section-right {
        padding: 1em 0 2em;
    }
    .section-title {
        font-size: 3em;
        margin-bottom: 0.2em;
    }
    .section-tagline {
        font-size: 1.3em;
    }
  
}

/* Landscape phones and down */

@media (max-width: 600px) {
    .headerContainer {
        width: 90%;
    }
     nav {
        height: 10px;
        overflow: hidden;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    input[type="checkbox"]:checked + nav {
        height: 205px;
    }
    nav > a {
        padding: 0 1em;
        color: black;
        display: block;
       border-bottom: 2px solid #eaeaea;
    }
    
    nav >a:hover{
        color: black;
        background-color: transparent;
        display: block;
        border-bottom: 2px solid black;
    }
    h1 {
        padding: 0.5em 0;
    }
    .header-left,
    .header-right {
        width: 100%;
        text-align: center;
    }
    .section-left,
    .section-right {
        width: 100%;
    }
    .section-left {
        text-align: center;
        padding: 1em 0;
    }
    .section-right {
        text-align: center;
        padding: 1em 0 2em;
    }
    .section-title {
        font-size: 2.4em;
        margin-bottom: 0;
    }
    .section-tagline {
        font-size: 1em;
    }
    .hidden-desktop {
        display: block;
    }
}

/* LandingPage styles */

.landing {
    position: relative;
    overflow: hidden;
    z-index: 5;
    height: 83vh;
    background: url("http://www.rnaplant.co.uk/wp-content/uploads/2015/05/Cold-Milling-Machines_RNA.jpg") no-repeat center;
    background-size: cover;
}

.landing-shade {
    z-index: 6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 1, 0.1);
}

.landing-text {
    color: whitesmoke;
     font-family: "Roboto Condensed", sans-serif;
}

.landing-text h1 {
    font-size: 70px;
    margin-top: 15px;
    text-transform: uppercase;
}

.landing-text p,
.landing-text .subtitle {
    font-size: 30px;
     font-family: 'Poppins', sans-serif;
    font-style: italic;
     text-transform: capitalize;
}

/* Utility styles */

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.flex-center-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f-between {
    justify-content: space-between;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.opac-0 {
    opacity: 0;
}

.opac-1 {
    opacity: 1;
}

/* for mobile */

@media screen and (max-width: 768px) {
    .mobile-only {
        display: block;
    }
    .logo {
        height: auto;
    }
    header{
         position: relative;
    }
   
    header.scroll{
        overflow: hidden;
    }

    .landing-text .button {
        font-size: 18px;
        padding: 7px 50px 7px;
        font-family: 'Poppins', sans-serif;
    }
    .first-column {
        font-size: 25px;
    }
    .landing-text h1 {
        font-size: 2.6em;
        margin-top: 15px;
    }
    .landing-text p,
    .landing-text .subtitle {
        font-size: 13px;
        margin-top: -30px;
       font-family: 'Poppins', sans-serif;
        font-style: italic;
    }
    .container {
        width: 100%;
    }
    /*  Navigation styles  */
    .navigation .container {
        flex-direction: column;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        width: calc(100vw - 100px);
        background-color: rgb(40, 40, 40);
    }
    .nav-links a {
        text-align: center;
        padding: 20px 0;
        margin: 0 30px;
        border-bottom: 2px solid rgb(80, 80, 80);
        text-align: left;
    }
    .nav-links a:first-of-type {
        margin-top: 40px;
    }
    #nav-toggle {
        position: fixed;
        top: 12px;
        right: 15px;
        width: 40px;
        height: 40px;
        z-index: 1002;
        cursor: pointer;
    }
    #nav-toggle svg {
        transform: translate(5px, 5px);
    }
    .nav-links.hide {
        transform: translateX(calc(100vw - 20px));
    }
    .nav-links.show {
        transform: translateX(0);
    }

    .cell-heading {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
    }

    .mainfooter {
        margin-top: 23px;
        padding: 10px;
    }
     .Accreditation-images img {
        margin-top: -15px;
         margin-left: -90px;
    }

    .footer-heading-social-media{
        margin-top: 10px;
    }
    .landing {
        height: 38vh;
    }
}

/* Animation on Fade In */

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    70% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.transition-300 {
    transition: all 300ms ease-in;
}

.anim-fade-down {
    animation: fade-down 600ms ease-in-out;
}

/* Website Main Content */
.first-column h1{
    font-size: 36px;
}

.first-column {
    color: #0000bc;
    font-size: 29px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 4px;
}

.second-column {
    color: black;
    font-size: 15px;
   font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
     margin-top: 10px;
}

.content-link{
    color: #000080;
     font-size: 15px;
    font-weight: 900;
}

.content-link:hover{
     color: #f7db17;
}

.responsive{
    margin-top: -20px;
}

.Accreditation-images{
    height: auto;
    vertical-align: middle;
    text-align: center;
    margin-top: -15px;
}
.Accreditation-images img {
   width: 70%;
   height: auto;
   vertical-align: top;
   margin-right: -70px;
}


@media screen and (max-width: 768px) {
    .first-column > h1 {
        font-size: 2.7rem;
         margin-top: -25px;
    }
   
 .responsive {
        margin-top: 17px;
    }
    .grid {
        flex-direction: column;
    }
    
    .statement-link{
   color: #E93F36;
     font-size: 15px;
    font-weight: 700;
}

}


/*FOOTER*/

footer {
    margin-top: 40px;
    background-color: #eeeeee;
    color: black;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

footer a {
    color: #fff;
    font-size: 16px;
    transition-duration: 0.2s;
    line-height: 2;
    font-weight: 600;
}

footer a:hover {
    text-decoration: none;
    color: #e4c908;
    font-weight: 600;
}

.footer-heading{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-heading-social-media{
     font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.copy {
    font-size: 15px;
    padding: 14px;
    border-top: 2px solid #000000;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
}

.footer-middle {
    padding-top: 2em;
    color: black;
}

.list-unstyled {
    line-height: 2.1;
    padding-top: 4px;
    font-size: 14px;
}

.contact {
    font-size: 14px;
    color: black;
    font-weight: 600;
     margin-left: auto;
}

.contact-Telephone {
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-left: 24px;
}

.footer-telephone{
         margin-left: -70px;
}

.footer-email{
    color: black;
    font-size: 14px;
    font-weight: 600;
     margin-left: -40px;
}

.contact-email{
    color: black;
    font-weight: 600;
    font-size: 14px;
     margin-left: -15px;
}

.sponsor-logo{
    height: 100px;
    margin-top: 5px;
    width: auto;
}

/*SOCÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°AL ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°CONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding-top: 3px;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #007bb7;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44bcdd;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    margin-top: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: white;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    
}

.social-network a {
    background-color: #38529A;
}

.text-center {
    font-size: 15px;
  font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
}
.copy-link{
     font-size: 15px;
   font-family: 'Poppins', sans-serif;
  display: inline-block;
    color: black;
    font-weight: 600;
}